{% extends "base.html" %}

{% block content %}
    <h1 class="title is-1">Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.username.label(class='label') }}
            {{ form.username(size=32, class='input') }}
            {% for error in form.username.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="field">
            {{ form.password.label(class='label') }}
            {{ form.password(size=32, class='input') }}
            {% for error in form.password.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="field">
            <label class="checkbox">
                {{ form.remember_me() }}
                {{ form.remember_me.label.text }}
            </label>
        </div>
        <div class="field">
            <div class="control">
                {{ form.submit(class='button is-link') }}
            </div>
        </div>
    </form>
    <div class="content">
        <br>
        <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
        <p>
            Forgot Your Password?
            <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
        </p>
    </div>
{% endblock %}