<article class="media">
    <div class="media-left">
        <figure class="image is-72x72">
            <img src="{{ post.author.avatar(72) }}">
        </figure>
    </div>
    <div class="media-content">
        <p class="title is-5">
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
        </p>
        <p class="subtitle is-6">
            said {{ moment(post.timestamp).fromNow() }}:<br>
            "{{ post.body }}"
        </p>
    </div>
</article>