{% extends "base.html" %}

{% block content %}
    <h1 class="title is-1">Edit Profile</h1 class="title is-1">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.username.label(class='label') }}
            <div class="control">
                {{ form.username(size=32, class='input') }}
            </div>
            {% for error in form.username.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="field">
            {{ form.about_me.label(class='label') }}
            <div class="control">
                {{ form.about_me(cols=50, rows=4, class='textarea') }}
            </div>
            {% for error in form.about_me.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="field">
            <div class="control">
                {{ form.submit(class='button is-link') }}
            </div>
        </div>
    </form>
{% endblock %}