{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="{{ user.avatar(128) }}">
                    </figure>
                </div>
                <div class="media-content">
                    <h4 class="title is-4 is-marginless">
                        User: {{ user.username }}
                    </h4>
                    {% if user.about_me %}<p>"{{ user.about_me }}"</p>{% endif %}
                    {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                    <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                    {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                    {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
                    {% else %}
                    <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <br>
    <nav class="pagination" role="navigation" aria-label="pagination">
        {% if prev_url %}
            <a href="{{ prev_url }}" class="pagination-previous">
                Newer posts
            </a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}" class="pagination-next">
                Older posts
            </a>
        {% endif %}
    </nav>
{% endblock %}